### Kita Coba bikin model pake pycaret full auto

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('./dataset/train_cleaned.csv')
df_train['datetime_iso'] = pd.to_datetime(df_train['datetime_iso'])

df_test = pd.read_csv('./dataset/test_cleaned.csv')
df_test['datetime_iso'] = pd.to_datetime(df_test['datetime_iso'])

In [3]:
df_train.head()

,datetime,datetime_iso,time-zone,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,grnd_level,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds
0,283996800,1979-01-01 00:00:00+00:00,28800,24.75,NaN,23.89,25.76,24.28,25.22,1012.0,undetermined,NaN,95.0,0.82,320.0,0.00,0,NaN,NaN,100.0
1,284000400,1979-01-01 01:00:00+00:00,28800,24.58,NaN,23.73,25.57,23.99,25.26,1012.0,NaN,NaN,95.0,0.96,338.0,0.00,0,0,0,100.0
2,284004000,1979-01-01 02:00:00+00:00,28800,26.60,unidentified,24.06,26.60,26.10,27.39,1012.0,NaN,undetermined,86.0,1.22,339.0,0.00,volume:zero,NaN,NaN,99.0
3,284007600,1979-01-01 03:00:00+00:00,28800,27.31,NaN,24.37,30.90,26.59,28.36,1012.0,NaN,undetermined,84.0,1.08,342.0,0.13,nol,0,NaN,94.0
4,284011200,1979-01-01 04:00:00+00:00,28800,27.41,NaN,25.05,31.54,26.58,28.31,1011.0,NaN,undetermined,87.0,0.86,336.0,0.34,nol,NaN,0,100.0

## Percobaan 1: Drop datetime only

In [4]:
df_train = df_train.drop(['datetime','datetime_iso','time-zone'],axis = 1)
df_test = df_test.drop(['datetime','datetime_iso','time-zone'],axis = 1)

In [5]:
from pycaret.regression import *
s = setup(df_train, target = 'rain_1h', session_id = 123)

In [5]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .               21:26:59
Status     . . . . . . . . . . . . . . . . . .       Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Regressor

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

KeyboardInterrupt

## Percobaan 2: Drop feature gajelas

In [6]:
df_train = df_train.drop(['visibility','sea_level','grnd_level','rain_3h','snow_1h','snow_3h'],axis = 1)
df_test = df_test.drop(['visibility','sea_level','grnd_level','rain_3h','snow_1h','snow_3h'],axis = 1)

In [7]:
s2 = setup(df_train, target = 'rain_1h', session_id = 123)

ERROR! Session/line number was not unique in database. History logging moved to new session 27

In [8]:
best2 = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .                 21:47:58
Status     . . . . . . . . . . . . . . . . . .         Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

KeyboardInterrupt